*{ margin:0;
    padding:0;
    box-sizing:border-box;
}<!--Estrutura da Pagina-->

body{font-family: Arial, sans-serif;
    background-color:#ffffff;
    color:rgb(3, 3, 3);
}
header{
    background-color:#043b2d;
    color:rgb(255, 255, 255);
    padding:20px;
    text-align:center;
}<!--Estrutura das letras e cores da Pagina-->

nav{
    margin-top:10px;
}
nav a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}
main{
    padding:20px;
}
section{
    margin-bottom:20px;
}
img{width:100%;
    max-width:700px;
    border-radius:10px;
}
.cards{
    display:flex;
    gap:20px;
}

.card{
    background:rgb(180, 219, 194);
    padding:20px;
    border:1px solid rgb(6, 86, 55);
    border-radius:10px;
    width:250px;
}

footer{
    background:#043b2d;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #00695c;
    color: white;
}

input,
select,
textarea{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    background-color: #00695c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}